
#levels > div {
    width: 183px;
    background-image: url(images/meters.jpg);
    height: 32px;
}
div#hunger{
    background-position: 0px 659px;
}
div#happiness{
    background-position: 183px 659px;
}

div#tiredness{
    background-position: 0px 659px;
}
#dino-egg{
    max-width:80%;
    margin:auto;
}