#levels{
    height:30px;
    
}

div#hunger{
    width: 183px;
    background-image: url(images/hunger_meter.jpg);
    height: 32px;
    background-position: 0px 659px;
}
#dino-egg{
    max-width:80%;
    margin:auto;
}